{#
/**
 * @file
 *
 * Available variables:
 * @ingroup themeable
 */
#}
<div class="dexp-flickr">
  <script type="text/javascript" src="http://www.flickr.com/badge_code_v2.gne?count={{ flickr_num_photo }}&amp;display={{ flickr_display }}&amp;size={{ flickr_image_size }}&amp;source={{ flickr_source }}&amp;{{ flickr_id }}"></script>
</div>