<div{{ attributes }}>
    {% if icon %}<div class="box-icon">{{ icon|raw }}</div>{% endif %}
    {% if title %}<div class="box-title">{{ title }}</div>{% endif %}
    {% if content %}<div class="box-content">{{ content }}</div>{% endif %}
    {% if readmore %}<div class="box-readmore">{{ readmore }}</div>{% endif %}
</div>