<div class="row register-form-popup" id="register-form-popup">
  <form{{ attributes }}>
    {{ element.status_messages }}
    {{ element.first_name }}
    {{ element.last_name }}
    {{ element.account.name }}
    {{ element.account.mail }}
    {{ element.account.pass }}
    {{ element.captcha }}
    {{ element.actions.submit }}
    {{ element.form_build_id }}
    {{ element.form_id }}
  </form>
</div>
