{# For the gallery page #}
<div class="app-gallery-content col-sm-12">
  <a href="{{ url }}" class="app-title">
    <h2>{{ node.label }}</h2>
  </a>
  <div class="row">
    <div class="col-sm-3 gallery-image">
      <a href="{{ url }}">
        {{ content.field_app_image }}
      </a>
    </div>
    <div class="col-sm-9 gallery-body">
      {{ content.body }}
      {{ content.field_website }}
    </div>
  </div>
</div>
